.InstructionsModal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InstructionsModal--btn-continue {
  position: absolute;
  bottom: -20px;
  right: 10px;
  animation: from-bottom 500ms;
}

@keyframes shrink {
  0% { transform: scale(1.0); opacity: 1.0; }
  100% { transform: scale(0.0); opacity: 0; }
}

.leaving .InstructionsModal--btn-continue {
  animation: shrink 300ms;
}

.icon {
  margin-right: 8px;
}